.scale {
    width: auto;
    height: 250px;
    border: 10px solid black;
}
.header {
    margin: auto;
    text-align: center;
    background-color: black;
}
.main {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.paragraph {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
}
.grid {
    padding: 20px;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 10px;
}
@media only screen and (max-width: 1845px) {
    .grid {
        padding: 20px;
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 10px;
    }
  }
  @media only screen and (max-width: 1245px) {
      .grid {
          padding: 20px;
          display: inline-grid;
          grid-template-columns: repeat(1, 1fr);
          column-gap: 20px;
          row-gap: 10px;
      }
    }
.video {
    margin: auto;
    padding: 20px;
    height: auto;
    width: 50vw;
}