<div class="main">
    <video class="video" autoplay controls controlsList="nodownload" disablePictureInPicture loop>
        <!-- <source src={{video}} type="video/mp4"> -->
    </video>
    <h1 class="header" [ngStyle]="{'color':'white'}">
        About Vain Miner
    </h1>
    <p class="paragraph" [ngStyle]="{'color':'white'}">
        Collect ore as you mine out the world so you can upgrade your ship to go deeper. As you go deeper the ores will become more valuable and the journey back home will become harder. 
        Don't let your drill run out of fuel or hit the ground too hard because you'll lose your hard-earned money. Purchase items to help you with your journey to become the best miner around. 
        Dynamite will help you clear out tiles above to reach ore that isn't in your tunnel's path or save you from running out of fuel a row under your escape route. 
        Flares can be used to help you find your way back, or see what's not in range of your light. 
        Complete contracts to gain a bonus payment for the ores you collect or sell them for a standard price at the Miner’s Market. 
        Will all your efforts be in Vain or will you be able to make it to the top by making it to the bottom?
    </p>
    <h1 class="header" [ngStyle]="{'color':'white'}">
        Screenshots
    </h1>
    <div class="grid">
        <div *ngFor="let img of images">
            <img class="scale" src={{img}} (click)="openDialog(img)">
        </div>
    </div>
</div>