#hamnav {
    height: 100%;
    background: rgb(0, 0, 0);
  }
  
  #hamitems { display: block; }
  #hamitems a, img {
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
  }
  #hamitems a:hover, img:hover { background: #5fcde4; }
  
  #hamnav label, #hamburger { display: none; }

.header {
    background-color: rgb(0, 0, 0);
    padding: 5px 10%;
}
.firstnavbar {
    text-decoration: none;
    color: #ffffff;
    margin-right: 50px;
    height: 100px;
    width: 100px;
    background-size: 100px 100px;
}
.navbar-brand {
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid white;
    margin-right: 50px;
}
.lastnavbar {
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid white;
}

@media only screen and (max-width: 1080px) {
    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        margin-top: 20px;
      }
     
      #hamnav label { 
        display: inline-block; 
        color: white;
        background: #000000;
        font-style: normal;
        font-size: 50px;
        position: relative;
        left: 10px;
        margin: 0;
        width: 60px;
      }
      #hamnav img {
          display: inline-block;
          color: white;
          background: #000000;
          font-style: normal;
          font-size: 50px;
          position: relative;
          left: calc(50% - 50px);
          width: 100px;
          margin-top: -100px;
      }

      .header {
          text-align: left;
      }
    
      #hamitems a { display: none; }
      #hamnav input:checked ~ #hamitems a { display: block; }
  }