<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <div class="header">
    <h1 [ngStyle]="{'color':'white'}">
      <nav id="hamnav">
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger">
        <div id="hamitems" class="navbar navbar-extended navbar-dark bg-dark">
          <img (click)="hamburgerClose()" class="firstnavbar" routerLink="/" src="/assets/mainimages/logo.png">
          <a (click)="hamburgerClose()" class="navbar-brand" routerLink="/games">Games</a>
          <a (click)="hamburgerClose()" class="navbar-brand" routerLink="/about">About</a>
          <a (click)="hamburgerClose()" class="lastnavbar" routerLink="/contact">Contact</a>
        </div>
      </nav>
    </h1>
  </div>
</div>

<router-outlet></router-outlet>
