.scroll {
    max-height: 100vh;
}
.main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(640px, 1fr));
    column-gap: 20px;
    row-gap: 60px;
    justify-content: center;
}
.games {
    width: 500px;
    border: 2px solid rgb(214, 214, 214);
    margin: auto;
}
.images {
    white-space: nowrap;
    overflow-x: auto;
}
.scale {
    width: 500px;
    height: auto;
}
.header {
    margin: auto;
    background-color: black;
}