.main {
    padding: 20px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    column-gap: 20px;
    row-gap: 60px;
    justify-content: center;
    max-width: 77vw;
}
.games {
    width: 450px;
    border: 2px solid rgb(214, 214, 214);
    margin: auto;
    max-width: 77vw;
}
.images {
    overflow-x: auto;
    width: 450px;
    text-decoration: none;
    color: #ffffff;
    max-width: 77vw;
}
.scale {
    width: 450px;
    height: auto;
    display: block;
    max-width: 77vw;
    max-height: 202px;
}
.header {
    margin: auto;
    background-color: black;
}
/* Track */
::ng-deep ::-webkit-scrollbar-track {
    background-color: #5fcde4;
    background-image: none;
  }