/* You can add global styles to this file, and also import other style files */
html {
    background-color: rgb(75, 75, 75);
    overflow-y: auto;
}
body {
    margin: 0;
    padding: 0;
    position: 0;
}
html, body {
    height: 100%;
    overflow-x: visible;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 20px;
    background-color: black;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #5fcde4;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(104, 104, 104);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.custom-dialog-container .mat-dialog-container {
    padding: 0px;
    border: 0px !important;
    margin: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    outline: none;
}
.leftimagecont {
    width: 10vw;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    background-clip: border-box;
    box-shadow: 0px 0px 10px 10px black;
}
.rightimagecont {
    width: 10vw;
    margin: 0 auto;
    overflow: hidden;
    position:fixed;
    right: 0px;
    top: 0px;
    height: 100vh;
    background-clip: border-box;
    box-shadow: 0px 0px 10px 10px rgb(0, 0, 0);
}
.leftimage {
    position: absolute;
    height: 100vh;
    width: 10vw;
    left: 0;
    top: 0px;
    transform: scaleX(-1);
}
.rightimage {
    position: absolute;
    height: 100vh;
    width: 10vw;
    right: 0;
    top: 0px;
    overflow: hidden;
}

.backdropBackground {
    filter: none;
    background-color: #caa4a400;
    opacity: 0 !important;
}

.cdk-global-scrollblock{
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
  }

  @media only screen and (max-width: 1080px) {
      .rightimagecont {
          width: 0px;
      }
      .leftimagecont {
          width: 0px;
      }
      ::-webkit-scrollbar-track {
        background: #00000000;
      }
    }
